<p>header works!</p>

<header class="sticky">
  <a routerLink="/" class="logo">
    <a name="" id="" class="btn btn-primary" role="button"
      ><span>{{ title }}</span></a
    >
  </a>
  <a routerLink="about" routerLinkActive="router-link-active" class="button">
    <span> About the author</span>
  </a>
  <a routerLink="contacts" routerLinkActive="router-link-active" class="button">
    <span> Contactos</span>
  </a>
  <a routerLink="car" routerLinkActive="router-link-active" class="button">
    <span> Más que coches</span>
  </a>
  <a
    routerLink="converter"
    routerLinkActive="router-link-active"
    class="button"
  >
    <span> Convertidor de Par</span>
  </a>
  <a routerLink="propietarios" class="button">
    <span> Propietarios </span>
  </a>
</header>
